
.idea/
.vscode/
*.swp
*.user

cmake-build-debug/
cmake-build-release/
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.obj
*.exe
*.dll
*.lib
*.so
*.a
*.pdb

**/conan/build/

vcpkg_installed/

package_manager/*/bin/
package_manager/*/lib/

.DS_Store
Thumbs.db